


<app-modal-c>
</app-modal-c>






<dx-data-grid id="gridContainer"
    [dataSource]="dataSource"
    [columnAutoWidth]="true"
    [showBorders]="true"
    (onContentReady)="contentReady($event)"
    rowTemplate="rowTemplateName">	
   >
	
       <dxo-paging [pageSize]="10"></dxo-paging>
			 <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 25, 50, 100]"
    ></dxo-pager>
  
   <!-- <dxi-column dataField="id" [width]="28"></dxi-column> -->
    
		 <dxi-column dataField="types" [width]="180"></dxi-column>
    <dxi-column dataField="cureScaleAvg" [width]="120"></dxi-column>
		 <dxi-column dataField="clinicTrials" [width]="120"></dxi-column>
    <dxi-column dataField="medicalReports" [width]="120"></dxi-column>
		<dxi-column dataField="sample A" [width]="120"></dxi-column>
    <dxi-column dataField="sample B" [width]="170"></dxi-column>
		<dxi-column dataField="sample C" [width]="160"></dxi-column>
		<dxi-column dataField="sale" [width]="90"></dxi-column>
    
	
	 <tbody class="employee dx-row" [ngClass]="{'dx-row-alt': employee.rowIndex % 2}" *dxTemplate="let employee of 'rowTemplateName'" >
        <tr class="main-row" id="tableRowEach">
 					
					
						<td>{{employee.data.types}}</td>
            <td>{{employee.data.cureScaleAvg}}</td>
            <td>{{employee.data.clinicTrials}}</td>
            <td>{{employee.data.medicalReports}}</td>
						<td>sample data A</td>
            <td>sample data B</td>
						<td (click)="getgraph(employee.data)">sample data C</td>
     				<td>333</td>
        </tr>
        
    </tbody>




</dx-data-grid>

